#menutext{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
#menutextt{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}


#logindiv{
    border:5%;
}

#registerdiv{
   border: 5%;
}
#totaltext{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

#tab{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

#productdiv{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding-top : 5% 
}
#totalval{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    border: 5%
}
#products{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
#addtext{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

#carttext{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

#logintext{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

#registertext{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

